<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS cdn link -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <style>
        #Breakpoints{
            border: 2px solid tomato;
        }
    </style>

</head>
<body>

    <!-- Breakpoints -->
    <h1 class="bg-secondary text-center text-white p-2 mt-2">Breakpoints</h1>
    
    <div class="container">
        <!-- Small Device -->
        <div class="row">
            <div class="col-sm-4" id="Breakpoints">Small Device</div>
            <div class="col-sm-4" id="Breakpoints">Small Device</div>
            <div class="col-sm-4" id="Breakpoints">Small Device</div>
        </div><br>

        <!-- medium Device -->
        <div class="row">
            <div class="col-md-4" id="Breakpoints">medium Device</div>
            <div class="col-md-4" id="Breakpoints">medium Device</div>
            <div class="col-md-4" id="Breakpoints">medium Device</div>
        </div><br>

        <!-- large Device -->
        <div class="row">
            <div class="col-lg-4" id="Breakpoints">large Device</div>
            <div class="col-lg-4" id="Breakpoints">large Device</div>
            <div class="col-lg-4" id="Breakpoints">large Device</div>
        </div><br>

        <!-- extra large Device -->
        <div class="row">
            <div class="col-xl-4" id="Breakpoints">extra large Device</div>
            <div class="col-xl-4" id="Breakpoints">extra large Device</div>
            <div class="col-xl-4" id="Breakpoints">extra large Device</div>
        </div><br>

        <!-- extra extra large Device -->
        <div class="row">
            <div class="col-xxl-4" id="Breakpoints">extra extra large Device</div>
            <div class="col-xxl-4" id="Breakpoints">extra extra large Device</div>
            <div class="col-xxl-4" id="Breakpoints">extra extra large Device</div>
        </div>
    </div>


    <!-- JavaScript cdn link -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>