<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
 
    <div class="container">
       <div class="accordion">
        <div class="accordion-item">
            <div class="accordion-header" data-bs-target="#item1" data-bs-toggle="collapse">
                <h3 class="accordion-button">Item 1</h3>
                <div id="item1" class="accordion-body accordion-collapse collapse">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        </div>

    </div>
    <!-- <br>
    <div class="container">
        <div class="accordion accordion-flush">
            <div class="accordion-item">
                <div class="accordion-header">
                    <h3 class="btn btn-primary" data-bs-target="#collapseTwo" data-bs-toggle="collapse">item 2</h3>
                    <div id="collapseTwo" class="accordion-body accordion-collapse collapse">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque aliquam soluta dolorem veritatis sunt voluptate est deserunt laboriosam possimus quibusdam maiores sint ipsum, nam tenetur doloremque dignissimos quidem nihil! Repudiandae.
                    </div>
                </div>
            </div>
        </div>
    </div> -->

  
    
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>