<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>

    <!-- Collapse -->
    <h1 class="bg-secondary text-center text-white p-2 mt-2">Collapse</h1>
    
    <div class="container">
        <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#carditem">Click Me</button>
        
        <div id="carditem" class="card collapse">
            <div class="card-body">
                <h5 class="card-title">Click Me and show this file.</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, corrupti.</p>
            </div>
        </div>
    </div><br>


    <div class="container">
        <a href="#" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#carditem1">Click Me</a>
        
        <div id="carditem1" class="card collapse">
            <div class="card-body">
                <h5 class="card-title">Click Me and show this file.</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, corrupti.</p>
            </div>
        </div>
    </div><br>

    <!-- Horizontal -->

    <div class="container">
        <a href="#" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#carditem2">Click Me</a>
        
        <div id="carditem2" class="card collapse collapse-horizontal">
            <div class="card-body">
                <h5 class="card-title">Click Me and show this file.</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, corrupti.</p>
            </div>
        </div>
    </div><br>


    




    <br>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>