<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>

    <!-- Navbar -->
    <!-- <h1 class="bg-secondary text-center text-white p-2 mt-2">Navbar</h1> -->
    
    <nav class="navbar navbar-expand-lg navbar-expand-sm bg-light shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="#">Navbar</a>
            <button data-bs-target="#Menu" data-bs-toggle="collapse" type="button" class="navbar-toggler">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="Menu" class="navbar-collapse collapse">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Sevices</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">Fan</li>
                        <li class="dropdown-item">Light</li>
                        <li class="dropdown-item">Motor</li>
                        <li class="dropdown-item">Charger</li>
                        <li class="dropdown-item">Circute Board</li>
                    </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">About-Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Blogs</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contust-Us</a></li>
                </ul>
                <form class="ms-auto d-flex" action="#">
                    <input class="me-3 form-control" type="search">
                    <a class="btn btn-outline-success" href="#">Search</a>
                </form>
            </div> 
        </div>
    </nav><br>

    <!--  -->
    
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" data-bs-target="#popop" data-bs-toggle="collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div id="popop" class="navbar-collapse collapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Features</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Products</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Apple</a></li>
                        <li><a class="dropdown-item" href="#">Orang</a></li>
                        <li><a class="dropdown-item" href="#">Mango</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        </div>
    </nav><br>
    
    <!--  -->

    <div class="container">
        <nav class="navbar">
            <form class="d-flex" action="#">
                <input class="form-control me-2" type="search" placeholder="Search">
                <a class="btn btn-success" href="#">Search</a>
            </form>
        </nav>
    </div>

    <!--  -->

    <div class="container">
        <nav class="navbar">
            <form class="container-fluid input-group" action="#">
                <span class="input-group-text">@</span>
                <input class="form-control" type="search" placeholder="Search">                
            </form>
        </nav>
    </div>
  





    <br>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>