<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>

    <!-- placeholder -->
    <h1 class="bg-secondary text-center text-white p-2 mt-2">placeholder</h1> 
     
    <div class="container d-flex">
        <div class="card col-4">
            <div class="card-img-top bg-success"></div>
            <div class="card-body">
                <h5 class="card-title placeholder-glow">
                    <span class="placeholder col-5"></span>
                    <p class="card-text placeholder-glow">
                        <span class="placeholder col-6"></span>
                        <span class="placeholder col-2"></span>
                        <span class="placeholder col-3"></span>
                        <span class="placeholder col-7"></span>
                        <span class="placeholder col-3"></span>
                    </p>
                </h5>
            </div>            
        </div>

        <div class="card col-4 ms-2">
            <div class="card-img-top bg-success">

            </div>
            <div class="card-body">
                <h5 class="card-title placeholder-glow">
                    <span class="placeholder col-5"></span>
                    <p class="card-text placeholder-glow">
                        <span class="placeholder col-6"></span>
                        <span class="placeholder col-2"></span>
                        <span class="placeholder col-3"></span>
                        <span class="placeholder col-7"></span>
                        <span class="placeholder col-3"></span>
                    </p>
                </h5>
                <a class="btn btn-primary placeholder-glow h-25 col-5 disabled" href="#">
                    <span class="placeholder"></span>
                </a>
            </div>            
        </div>

    </div>
    


    


    <br>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>