<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>

    <!-- Alter Color -->
    <h1 class="bg-secondary text-center text-white p-2 mt-lg-2">Alter Color</h1>
    
    <div class="container">
        <div class="alert alert-primary">
            <p>A simple primary alert—check it out!</p>
        </div>
    </div>
        
    <div class="container">
        <div class="alert alert-secondary">
            <p>A simple primary alert—check it out!</p>
        </div>
    </div>

    <div class="container">
        <div class="alert alert-success">
            <p>A simple primary alert—check it out!</p>
        </div>
    </div>

    <div class="container">
        <div class="alert alert-danger">
            <p>A simple primary alert—check it out!</p>
        </div>
    </div>

    <div class="container">
        <div class="alert alert-warning">
            <p>A simple primary alert—check it out!</p>
        </div>
    </div>

    <div class="container">
        <div class="alert alert-info">
            <p>A simple primary alert—check it out!</p>
        </div>
    </div>

    <div class="container">
        <div class="alert alert-light border">
            <p>A simple primary alert—check it out!</p>
        </div>
    </div>

    <div class="container">
        <div class="alert alert-dark">
            <p>A simple primary alert—check it out!</p>
        </div>
    </div>
    
       
    
    <!-- Link color -->
    <h1 class="bg-secondary text-center text-white p-2 mt-lg-2">Link color</h1>
    
    <div class="container">
        <div class="alert alert-dark">
            <p>A simple primary alert—check it out! <a class="alert-link" href="#">click here</a></p>
        </div>
    </div>
    
    
    <!-- Additional content -->
    <h1 class="bg-secondary text-center text-white p-2 mt-lg-2">Additional content</h1>
    
    <div class="container">
        <div class="alert alert-success">
            <h2 class="alert-heading">Well done!</h2>
            <p class="fs-5">Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
            <hr>
            <p class="fs-5">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
        </div>
    </div>
    
    
    <!-- Live example Alter dismiss -->
    <h1 class="bg-secondary text-center text-white p-2 mt-lg-2">Alter dismiss</h1>
    
    <div class="container mt-3">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <p>Opps! something went worng.</p>
            <button class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    </div>

   
    <br>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>