<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>

    <!-- Tooltips -->
    <h1 class="bg-secondary text-center text-white p-2 mt-2">Tooltips</h1>
      
    <div class="container">
       <button class="btn btn-outline-primary mt-5 ms-5" 
        data-bs-toggle="tooltip" 
        data-bs-title="This top tooltip is themed via CSS variables."
        data-bs-placement="top"
       >Tooltips</button>
    </div>




    <br>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
</body>
</html>