<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>

    <!-- Buttons -->
    <h1 class="bg-secondary text-center text-white p-2 mt-2">Buttons</h1>
    
    <div class="container">
        <button class="btn btn-primary">primary</button>
        <button class="btn btn-secondary">secondary</button>
        <button class="btn btn-success">success</button>
        <button class="btn btn-danger">danger</button>
        <button class="btn btn-warning">warning</button>
        <button class="btn btn-info">info</button>
        <button class="btn btn-light">light</button>
        <button class="btn btn-dark">dark</button>
    </div> <br>   


    <!-- Button tags -->

    <div class="container">
        <a class="btn btn-primary" href="#">Link</a>
        <input class="btn btn-primary" role="button" type="button" value="input">
        <input class="btn btn-warning" type="button" role="button" value="input">
    </div><br>

    <!-- Outline buttons -->
    <div class="container">
        <button class="btn btn-outline-primary">primary</button>
        <button class="btn btn-outline-secondary">secondary</button>
        <button class="btn btn-outline-success">success</button>
        <button class="btn btn-outline-danger">danger</button>
    </div><br>


    <!-- Sizes -->
    <div class="container">
        <button class="btn btn-primary btn-lg">Large button</button>
        <button class="btn btn-warning btn-sm">Small buttons</button>
    </div><br>

    <!-- Disabled -->

    <div class="container">
        <button class="btn btn-primary btn-lg" type="button" disabled>Primary</button>
    </div><br>

        <!-- Disabled link -->

    <div class="container">
        <a class="btn btn-primary btn-sm disabled"  type="btn" href="#">link</a>
    </div><br>

    <!-- Block buttons -->

    <div class="d-grid gap-2 container">
        <button class="btn btn-primary btn-lg" type="button">Primary</button>
        <button class="btn btn-secondary btn-lg" type="button">Primary</button>
    </div><br>

    <div class="container border p-2 d-flex justify-content-end d-grid gap-2">
        <button class="btn btn-primary" type="button">Primary</button>
        <button class="btn btn-secondary" type="button">Primary</button>
    </div><br>


    <button class="btn btn-primary active" data-bs-toggle="button">Primary</button>
    <button class="btn btn-secondary active" data-bs-toggle="button" type="button">Primary</button>



    <br><br>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>