<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>

    <!-- Buttons group-->
    <h1 class="bg-secondary text-center text-white p-2 mt-2">Buttons group</h1>
    
    <div class="container">
        <div class="btn-group" role="group">
            <button class="btn btn-primary">left</button>
            <button class="btn btn-secondary">middle</button>
            <button class="btn btn-warning">right</button>
        </div>
    </div><br>
    <!-- Active -->
    
    <div class="container">
        <div class="btn-group" role="group">
            <button class="btn btn-primary active" aria-current="page">left</button>
            <button class="btn btn-secondary">middle</button>
            <button class="btn btn-warning">right</button>
        </div>
    </div><br>
    
    <!-- outline -->
    <div class="container">
        <div class="btn-group" role="group">
            <button class="btn btn-outline-primary">left</button>
            <button class="btn btn-outline-secondary">middle</button>
            <button class="btn btn-outline-warning">right</button>
        </div>
    </div><br>

    <!-- Outlined styles -->
    <div class="container">
        <div class="btn-group" role="group">
            <button class="btn btn-outline-primary">Left</button>
            <button class="btn btn-outline-primary">Middle</button>
            <button class="btn btn-outline-primary">Right</button>
        </div>
    </div><br>

    <!-- Checkbox -->
    <div class="container">
        <div class="btn-group" role="group">
        <label class="btn btn-outline-primary" for="box" autocomplete="off">Checkbox</label>
        <input class="btn-check" type="checkbox" id="box">
        </div>
    </div>
    




    <br>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>