<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>

    <!-- Card -->
    <h1 class="bg-secondary text-center text-white p-2 mt-2">Card</h1> 

   <div class="container">
        <div class="card bg-light w-50">
            <img src="images/tulip.jpg">
            <div class="card-body">            
            <div class="card-title">
                <h2 class="card-title">Card title</h2>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis id soluta eos repudiandae eum obcaecati eveniet ut perferendis cum a?</p>
                <a class="btn btn-primary" href="#">Go somewhere</a>
            </div>
            </div>
        </div>     
    </div><br>

    <!-- Body -->
    <div class="container">
        <div class="card">
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, consectetur.</p>
            </div>
        </div>
    </div><br>

    <!-- Titles, text, and links -->

    <div class="container">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Card-title</h1>
                <p class="card-subtitle">Card subtitle</p>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, et!</p>
                <a class="card-link" href="#">Card link</a>
                <a class="card-link" href="#">Card link</a>
            </div>
        </div>
    </div><br>

    <!-- Images -->
    <div class="container">
        <div class="card">
            <img class="card-img-top" src="images/tulip.jpg" alt="">
            <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto accusantium consequatur, officia reprehenderit exercitationem ipsum.</p>
            </div>
        </div>        
    </div><br>

        <!-- List groups- -->

    <div class="container">
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">An second item</li>
                <li class="list-group-item">An third item</li>
            </ul>
        </div>
    </div><br>

    <!-- Card-header -->
    <div class="container">
        <div class="card">
            <div class="card-header">Featured</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">An second item</li>
                <li class="list-group-item">An third item</li>
            </ul>
        </div>
    </div><br>

        <!-- Card-footer -->
    <div class="container">
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">An second item</li>
                <li class="list-group-item">An third item</li>
            </ul>
            <div class="card-footer">Card Footer</div>
        </div>
    </div><br>

    <!-- Header and footer -->

    <div class="container">
        <div class="card">
            <img class="card-img-top" src="images/tulip.jpg" alt="">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias, sint.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">An Second item</li>
                <li class="list-group-item">An third item</li>
            </ul>
            <div class="card-body">
                <a class="card-link" href="#">card link</a>
            <a class="card-link" href="#">another link</a>
            </div>
        </div>
    </div><br>

    <!--  -->

    <div class="container">
        <div class="card">
            <h1 class="card-header">Featured</h1>
        <div class="card-body">
            <h4 class="card-title">Special title treatment</h4>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora eius soluta obcaecati ea! Dolore, delectus.</p>
            <a class="btn btn-primary" href="#">Go somewhere</a>
        </div>
        </div>
    </div><br>

    <!-- blockquote -->
    <div class="container">
        <div class="card">
            <div class="card-header">
                <p>Quote</p>
            </div>
            <div class="card-body">
                <blockquote class="blockquote">A well-known quote, contained in a blockquote element.</blockquote>
                <footer class="blockquote-footer">Someone famous in Source Title</footer>
            </div>
        </div>
    </div><br>

    <!--  -->
    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                <p>Featured</p>
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ad, nisi dolores sapiente cum voluptatem.</p>
                <a class="btn btn-primary" href="#">Go somewhere</a>
            </div>
            <div class="card-footer">2 days ago</div>
        </div>
    </div><br>

    <!-- navigation card -->

    <div class="container">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item"><a class="nav-link active" href="#">Active</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                    <li class="nav-item"><a class="nav-link disabled" href="#">Disable</a></li>
                </ul>
            </div>
            <div class="card-body text-center">
                <h2 class="card-title">Special title treatment</h2>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a class="btn btn-primary" href="#">Go somewhere</a>
            </div>
        </div>
    </div><br>

    <!-- button navigation card -->
    <div class="container">
        <div class="card ">
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item "><a class="nav-link active" href="#">Active</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                    <li class="nav-item"><a class="nav-link disabled" href="#">Disable</a></li>
                </ul>
            </div>
            <div class="card-body text-center">
                <h2 class="card-title">Special title treatment</h2>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a class="btn btn-primary" href="#">Go somewhere</a>
            </div><br>
        </div>
    </div><br>

    <!-- Card groups -->
    
    <div class="container card-group">
               
        <div class="card bg-light w-50">
                <img src="images/tulip.jpg">
                <div class="card-body">            
                <div class="card-title">
                    <h2 class="card-title">Card title</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis id soluta eos repudiandae eum obcaecati eveniet ut perferendis cum a?</p>
                    <a class="btn btn-primary" href="#">Go somewhere</a>
                </div>
                </div>
        </div>     
        

            <div class="card bg-light ms-2 w-50">
                <img src="images/tulip.jpg">
                <div class="card-body">            
                <div class="card-title">
                    <h2 class="card-title">Card title</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis id soluta eos repudiandae eum obcaecati eveniet ut perferendis cum a?</p>
                    <a class="btn btn-primary" href="#">Go somewhere</a>
                </div>
                </div>
            </div>     

            <div class="card ms-2 bg-light w-50">
                <img src="images/tulip.jpg">
                <div class="card-body">            
                <div class="card-title">
                    <h2 class="card-title">Card title</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis id soluta eos repudiandae eum obcaecati eveniet ut perferendis cum a?</p>
                    <a class="btn btn-primary" href="#">Go somewhere</a>
                </div>
                </div>
            </div>     

            <div class="card ms-2 bg-light w-50">
                <img src="images/tulip.jpg">
                <div class="card-body">            
                <div class="card-title">
                    <h2 class="card-title">Card title</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis id soluta eos repudiandae eum obcaecati eveniet ut perferendis cum a?</p>
                    <a class="btn btn-primary" href="#">Go somewhere</a>
                </div>
                </div>
            </div> 
    </div><br>

 






















    <br>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>