<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>

    <!-- Close Buttons -->
    <h1 class="bg-secondary text-center text-white p-2 mt-2">Buttons group</h1>
    
    <div class="container">
        <button class="btn-close"></button>
    </div><br>
    
    <!-- Disabled Close Buttons -->
    <div class="container">
        <button class="btn-close disabled"></button>
    </div><br>

    <!-- Dark variant Close Buttons -->
    <div class="container">
        <div class="bg-info">
            <button class="btn-close"></button>
        </div>        
    </div><br>


    




    <br>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>