<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Css cdn link -->
</head>
<body>

    <!-- Accordion  -->
    <h1 class="bg-secondary text-center text-white p-2 mt-2">Accordion</h1>
    
    <div class="container">
        <div class="accordion">
            <div class="accordion-item">
                <h1 data-bs-target="#item1" data-bs-toggle="collapse" class="accordion-header accordion-button">accordion item</h1>
                <div class="accordion-body accordion-collapse collapse">
                    <p id="item1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, quaerat!</p>
                </div>
            </div>
        </div>


        <div class="accordion">
            <div class="accordion-item">
                <h5 data-bs-target="#kkkk" data-bs-toggle="collapse" class="accordion-button accordion-header">accordion</h5>
                <div id="kkkk" class="accordion-collapse collapse accordion-body">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo, qui!</p>
                </div>
            </div>

    
            <div class="accordion-item">
                <h5 data-bs-target="#kkk" data-bs-toggle="collapse" class="accordion-button accordion-header">accordion</h5>
                <div id="kkk" class="accordion-collapse collapse accordion-body">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo, qui!</p>
                </div>
            </div>
        </div>
    </div><br>
    
    <!-- Flush  -->
    <div class="container">
        <div class="accordion accordion-flush">
            <div class="accordion-item">
                <a data-bs-target="#flush" data-bs-toggle="collapse" class="btn btn-primary btn-lg" type="button" href="#">accordion Flush</a>
                <div id="flush" class="accordion-body accordion-collapse collapse">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, nam.</p>
                </div>
            </div>

            <div class="accordion-item">
                <a data-bs-target="#flush2" data-bs-toggle="collapse" class="btn btn-primary btn-lg" type="button" href="#">accordion Flush</a>
                <div id="flush2" class="accordion-body accordion-collapse collapse">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, nam.</p>
                </div>
            </div>

            <div class="accordion-item">
                <a data-bs-target="#flush3" data-bs-toggle="collapse" class="btn btn-primary btn-lg" type="button" href="#">accordion Flush</a>
                <div id="flush3" class="accordion-body accordion-collapse collapse">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, nam.</p>
                </div>
            </div>

            <div class="accordion-item">
                <a data-bs-target="#flush4" data-bs-toggle="collapse" class="btn btn-primary btn-lg" type="button" href="#">accordion Flush</a>
                <div id="flush4" class="accordion-body accordion-collapse collapse">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, nam.</p>
                </div>
            </div>
        </div>
    </div>


    <!-- Alerts  -->
    <h1 class="bg-secondary text-center text-white p-2 mt-2">Alerts</h1>
    
    <div class="container">
        <div class="alert alert-danger alert-dismissible" role="alert">
            <p>Opps! something went worng.</p>
            <button class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    </div><br>


   <!-- Badges   -->
   <h1 class="bg-secondary text-center text-white p-2 mt-2">Badges</h1>
    
   <div class="container">
    <div class="badge">
        <button class="btn btn-primary position-relative">Mail <span class="p-2 bg-danger rounded-circle position-absolute border top-0 start-100 translate-middle"></span></button>
    </div>
   </div><br>

 
    <!-- Breadcrumb   -->
    <h1 class="bg-secondary text-center text-white p-2 mt-2">Breadcrumb</h1>
    
   <div class="container">
    <div class="bg-light p-2">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active">Home</li>
            <li class="breadcrumb-item">Library</li>
            <li class="breadcrumb-item disabled">Data</li>
        </ul>        
    </div>
   </div><br>

   <div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item " ><a href="#">Home</a></li>            
            <li class="breadcrumb-item"><a href="#">Home</a></li>            
            <li class="breadcrumb-item"><a href="#">Home</a></li>            
            <li class="breadcrumb-item " ><a class="breadcrumb-item active" href="#">Home</a></li>            
        </ul>
    </nav>
   </div><br>

 
    <!--  Button group  -->
    <h1 class="bg-secondary text-center text-white p-2 mt-2">Button group</h1>
    
    <div class="container">
        <div class="btn-group">
            <button class="btn btn-danger">Left</button>
            <button class="btn btn-danger">Middle</button>
            <button class="btn btn-danger">Right</button>
        </div>

        <div class="btn-group">
            <button class="btn btn-danger active">Left</button>
            <button class="btn btn-danger">Middle</button>
            <button class="btn btn-danger disabled">Right</button>
        </div>
        
        <div class="btn-group mt-3">
            <button class="btn btn-danger active">Left</button>
            <button class="btn btn-outline-danger">Middle</button>
            <button class="btn btn-danger disabled">Right</button>
        </div>

    </div>

    <!-- Close button -->
    <h1 class="bg-secondary text-center text-white p-2 mt-2">Close button</h1>
    
    <div class="container">
        <div class="btn-close"></div>
        <br>

        <div class="alert alert-danger alert-dismissible" role="alert">
            <h5>Lorem ipsum dolor sit amet.</h5> 
            <button class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    </div>


    <!-- Collapse -->
    <h1 class="bg-secondary text-center text-white p-2 mt-2">Collapse</h1>
    
    <div class="container">        
        <a data-bs-target="#oppp" class="btn btn-primary" data-bs-toggle="collapse" href="#">Link with herf</a>
        <p id="oppp" class="border border-2 p-2 collapse">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, nostrum. Ut molestias provident possimus minus.</p>
    </div>

    <!-- Dropdowns -->
    <h1 class="bg-secondary text-center text-white p-2 mt-2">Dropdowns</h1>
    
    <div class="container">
        <div class="dropdown">            
            <button class="btn btn-primary droupdown-toggle" data-bs-toggle="dropdown">Dropdowns</button>
            <ul class="dropdown-menu">
                <li class="dropdown-item">home</li>
                <li class="dropdown-item">home</li>
                <li class="dropdown-item">home</li>
            </ul>           
        </div>
    </div><br>

    <!-- List Group -->
    <h1 class="bg-secondary text-center text-white p-2 mt-2">List-group</h1>

    <div class="container">
        <ul class="list-group list-group-flush">
            <li><a class="list-group-item active" href="#">An item</a></li>
            <li><a class="list-group-item" href="#">Another item</a></li>
            <li><a class="list-group-item" href="#">third item</a></li>
        </ul><br>

        
        <ul class="list-group">
            <li><a class="list-group-item active" href="#">An item</a></li>
            <li><a class="list-group-item" href="#">Another item</a></li>
            <li><a class="list-group-item" href="#">third item</a></li>
        </ul>
    </div><br>

    <!-- Modal -->
    <h1 class="bg-secondary text-center text-white p-2 mt-2">Modal</h1>

    <div class="container">
        <button data-bs-target="#modal1" data-bs-toggle="modal" class="btn btn-primary">Modal</button>
        
        <div id="modal1"  class="modal fade">
            <div class="modal-dialog">            
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modals</h5>
                        <button class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <p>Modal body text goes here.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-bs-dismiss="modal">close</button>
                        <a class="btn btn-primary" href="#">Save Information</a>
                    </div>
                </div>
            </div>
        </div>
    </div><br>


    <!-- Navbar -->
    <h1 class="bg-secondary text-center text-white p-2 mt-2">Navbar</h1>

    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#">Navbar</a>
            
            <button class="navbar-toggler"
            data-bs-target="#navbaradd"
            data-bs-toggle="collapse"
            >
                <span class="navbar-toggler-icon"></span>
            </button>            

            <div id="navbaradd" class="navbar-collapse collapse">
                <ul  class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="">Home</a></li>
                    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"  href="#">Services</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a class="dropdown-item" href="#"></a>Light</li>
                            <li class="dropdown-item"><a class="dropdown-item" href="#"></a>Fan</li>
                            <li class="dropdown-item"><a class="dropdown-item" href="#"></a>Computer</li>
                            <li class="dropdown-item"><a class="dropdown-item" href="#"></a>Ram</li>
                            <li class="dropdown-item"><a class="dropdown-item" href="#"></a>HDD</li>
                        </ul>
                    
                    
                    </li>
                    <li class="nav-item"><a class="nav-link" href="">Products</a></li>
                    <li class="nav-item"><a class="nav-link" href="">Help-line</a></li>
                    <li class="nav-item"><a class="nav-link" href="">Contact-Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="">About-Us</a></li>
                </ul>
                <form class="d-flex" action="#">
                    <input class="form-control me-3" type="search">
                    <a class="btn btn-outline-success" href="#">Search</a>
                </form>
            </div>
        </div>
    </nav><br>

    <!-- Navs and tabs -->
    <h1 class="bg-secondary text-center text-white p-2 mt-2">Navs and tabs</h1>

    <div class="container">
        <nav class="nav nav-pills">
            <ul class="nav">
                <li class="nav-item"><a class="nav-link active" href="#">Active</a></li>
                <li class="nav-item"><a class="nav-link"  href="#">Link-1</a></li>
                <li class="nav-item"><a class="nav-link"  href="#">Link-2</a></li>
                <li class="nav-item"><a class="nav-link disabled"  href="#">Link-3</a></li>
            </ul>
        </nav>
    </div><br>

    <!-- Navs and tabs -->
    <h1 class="bg-secondary text-center text-white p-2 mt-2">Navs and tabs</h1>

    <div class="container">
        <button class="btn btn-outline-primary"
        data-bs-target="#canvas"
        data-bs-toggle="offcanvas"
        >Offcanvas</button>

        <div id="canvas" class="offcanvas offcanvas-start">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title">Offcanvas</h5>                
                <span class="btn-close" data-bs-dismiss="offcanvas"></span>
            </div>
            <div class="offcanvas-body">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut illo minus alias iure nihil eveniet corporis sint, iste laudantium deserunt.</p>
            </div>
        </div>
    </div><br>

    <!-- Pagination -->
    <h1 class="bg-secondary text-center text-white p-2 mt-2">Pagination</h1>

    <div class="container">
        <nav>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div><br>

    <div class="container">
        <nav>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
            </ul>
        </nav>
    </div><br>

    <!-- Placeholders -->
    <h1 class="bg-secondary text-center text-white p-2 mt-2">Placeholders</h1>

    <div class="container">
        <div class="card col-5">
            <img class="card-img-top" src="images/tulip.jpg" alt="">
            <div class="card-body">
                <h5 class="card-title placeholder-glow">
                <span class="placeholder col-5"></span>
                </h5> 
                <p class="card-text placeholder-glow ">
                <span class="placeholder col-10"></span>
                <span class="placeholder col-8"></span>
                <span class="placeholder col-7"></span>
                <span class="placeholder col-2"></span>
                <span class="placeholder col-5"></span>
                </p>
            </div>             
        </div>
    </div><br>

    <!-- Popovers -->
    <h1 class="bg-secondary text-center text-white p-2 mt-2">Popovers</h1>

    <div class="container d-flex">
        <button class="btn btn-outline-danger me-3" data-bs-toggle="popover" data-bs-title="Focus Me" data-bs-content="And here's some amazing content. It's very engaging. Right?">Click to toggle propover</button><br>
        <button class="btn btn-outline-danger" data-bs-trigger="hover focus" data-bs-toggle="popover" data-bs-title="Focus Me" data-bs-content="And here's some amazing content. It's very engaging. Right?">Click to toggle propover</button><br>
    </div><br>

    <!-- Progress -->
    <h1 class="bg-secondary text-center text-white p-2 mt-2">Progress</h1>

    <div class="container d-grid gap-2" role="progressbar">
        <div class="progress"></div>
        <span class="progress progress-bar w-25"></span>
        <div class="progress">
            <div class="progress-bar w-50 progress-bar-striped progress-bar-animated"></div>
        </div>
    </div><br>

    <!-- Scrollspy -->
    <h1 class="bg-secondary text-center text-white p-2 mt-2">Scrollspy</h1>

    <div>
        <nav id="navbar" class="navbar sticky-top">
            <div class="container">
                <a class="navbar-brand" href="#">Navbar</a>
                <ul class="nav nav-pills">
                    <a class="nav-link" href="#heading">First</a>
                    <a class="nav-link" href="#heading2">Second</a>
                    <a class="nav-link" href="#heading3">Dropdowns</a>
                </ul>
            </div>
        </nav>
        <div data-bs-target="#navbar" data-bs-spy="scroll">
            <h5 id="heading">Heading -1</h5>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum iure mollitia natus voluptates ut expedita soluta nobis ab fugit eligendi doloribus, dolor error obcaecati minus!</p>      
            
            <h5 id="heading2">Heading -2</h5>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum iure mollitia natus voluptates ut expedita soluta nobis ab fugit eligendi doloribus, dolor error obcaecati minus!</p>
        
            <h5 id="heading3">Heading -3</h5>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum iure mollitia natus voluptates ut expedita soluta nobis ab fugit eligendi doloribus, dolor error obcaecati minus!</p>
        </div>       
    </div><br>

    <!-- Spinners -->
    <h1 class="bg-secondary text-center text-white p-2 mt-2">Spinners</h1>

    <div class="container">
        <span class="spinner-border"></span>
        <span class="spinner-grow text-primary">
        </span>
    </div><br>

    <!-- Toasts -->
    <h1 class="bg-secondary text-center text-white p-2 mt-2">Toasts</h1>

    <div class="container">
        <button class="btn btn-primary" id="toast1">Toast</button>
        
        <div id="tos2" class="toast position-fixed bottom-0 end-0">
            <div class="toast-header">
                <img class="col-1" src="images/toast.jpg">
                <strong>bootstrap</strong>
                <small class="ms-auto">11 min ago</small>
                <button class="btn-close" data-bs-dismiss="toast"></button>
            </div>

            <div class="toast-body">
                <p>Hello, world! This is a toast message.</p>
            </div>
        </div>
    </div><br>

    <!--  -->
    <h1 class="bg-secondary text-center text-white p-2 mt-2">Toasts</h1>
    
    <div class="container">




    </div>






    <br>
    <!-- JavaScript cdn link -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script>
        const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
        const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
    </script>
    <script>
        const toastTrigger = document.getElementById('toast1')
        const toastLiveExample = document.getElementById('tos2')
            if (toastTrigger) {
        const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
            toastTrigger.addEventListener('click', () => {
        toastBootstrap.show()
        })
        }
    </script>
</body>
</html>